.messages
  .message{"data-message_id":"14618"}
    .message__upper-info
      %p.message__upper-info__talker hhh
      %p.message__upper-info__date 2019/11/24(Sun) 12:04:30
    %p.message__text ggggg

